<form>
  <h1 mat-dialog-title>{{(data.isEdit ? 'Edit' : 'Create') | translate}} {{'Employee' | translate}}</h1>
  <div mat-dialog-content>

      <mat-form-field
      *ngIf="canEditColumn('LastName')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'LastName' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="LastName"
        (change)="changed('LastName')"
        [(ngModel)]="data.entity.LastName"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('FirstName')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'FirstName' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="FirstName"
        (change)="changed('FirstName')"
        [(ngModel)]="data.entity.FirstName"
        autocomplete="off">
    </mat-form-field>

    <app-magic-autocomplete
      *ngIf="canEditColumn('ReportsTo')"
      [model]="data.entity"
      field="ReportsTo"
      key="EmployeeId"
      table="Employee"
      value="LastName"
      [placeholder]="('Choose a ' | translate) + ('ReportsTo' | translate)"
      class="entity-edit-field"
      (change)="changed('ReportsTo')"
      [getItems]="service.chinook_Employee">
    </app-magic-autocomplete>

    <mat-form-field
      *ngIf="canEditColumn('Title')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'Title' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="Title"
        (change)="changed('Title')"
        [(ngModel)]="data.entity.Title"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('Address')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'Address' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="Address"
        (change)="changed('Address')"
        [(ngModel)]="data.entity.Address"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('City')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'City' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="City"
        (change)="changed('City')"
        [(ngModel)]="data.entity.City"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('State')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'State' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="State"
        (change)="changed('State')"
        [(ngModel)]="data.entity.State"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('Country')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'Country' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="Country"
        (change)="changed('Country')"
        [(ngModel)]="data.entity.Country"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('PostalCode')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'PostalCode' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="PostalCode"
        (change)="changed('PostalCode')"
        [(ngModel)]="data.entity.PostalCode"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('Phone')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'Phone' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="Phone"
        (change)="changed('Phone')"
        [(ngModel)]="data.entity.Phone"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('Fax')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'Fax' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="Fax"
        (change)="changed('Fax')"
        [(ngModel)]="data.entity.Fax"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('Email')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'Email' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="Email"
        (change)="changed('Email')"
        [(ngModel)]="data.entity.Email"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('BirthDate')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'BirthDate' | translate}}</mat-label>
      <input
        matInput
        name="BirthDate"
        (change)="changed('BirthDate')"
        [owlDateTime]="pickerBirthDate"
        [(ngModel)]="data.entity.BirthDate"
        autocomplete="off">
      <owl-date-time
        #pickerBirthDate
        (afterPickerClosed)="changed('BirthDate')"></owl-date-time>
      <mat-icon
        [owlDateTimeTrigger]="pickerBirthDate"
        matSuffix
        role="button"
        class="button-icon"
        matDatepickerToggleIcon>calendar_today</mat-icon>
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('HireDate')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'HireDate' | translate}}</mat-label>
      <input
        matInput
        name="HireDate"
        (change)="changed('HireDate')"
        [owlDateTime]="pickerHireDate"
        [(ngModel)]="data.entity.HireDate"
        autocomplete="off">
      <owl-date-time
        #pickerHireDate
        (afterPickerClosed)="changed('HireDate')"></owl-date-time>
      <mat-icon
        [owlDateTimeTrigger]="pickerHireDate"
        matSuffix
        role="button"
        class="button-icon"
        matDatepickerToggleIcon>calendar_today</mat-icon>
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('EmployeeId')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'EmployeeId' | translate}}</mat-label>
      <input
        matInput
        type="number"
        step="1"
        name="EmployeeId"
        (change)="changed('EmployeeId')"
        [(ngModel)]="data.entity.EmployeeId"
        autocomplete="off">
    </mat-form-field>

</div>

  <div mat-dialog-actions>

    <div class="right-aligned">

      <button 
        mat-raised-button
        color="primary"
        type="submit"
        (click)="upsert()">{{'Save' | translate}}</button>

      <button
        mat-button
        (click)="close(null)">{{'Cancel' | translate}}</button>

    </div>

  </div>
</form>
